html{
  margin:0;
  padding:0;
  background: url("https://i.pinimg.com/originals/8e/bb/73/8ebb73accef425c9d6919d36eadf8cc9.jpg") no-repeat center center fixed;
  background-size: cover;
}
header> h1{
  text-align: center;
}

section{
  display: flex;
  justify-content: space-around;
}
article>a {
  text-decoration: none;
  text-align: center;
  color:black;
}
article>a:hover {
  text-decoration: none;
  color:blue;
}
